:host ::ng-deep .changelog-body h3 {
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: var(--color-primary);
}

:host ::ng-deep .changelog-body h3:first-child {
    margin-top: 0;
}

:host ::ng-deep .changelog-body ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

:host ::ng-deep .changelog-body ul ul {
    list-style-type: circle;
    margin-bottom: 0.25rem;
}

:host ::ng-deep .changelog-body li {
    margin-bottom: 0.25rem;
}

:host ::ng-deep .changelog-body a {
    color: var(--color-primary);
    text-decoration: underline;
}

:host ::ng-deep .changelog-body p {
    margin-bottom: 0.75rem;
}

:host ::ng-deep .changelog-body p:last-child {
    margin-bottom: 0;
}
