trigger:
  tags:
    include: [ '*' ]

jobs:
  - job: publish_tauri
    strategy:
      matrix:
        macos:
          vmImage: 'macos-latest'
          TAURI_ARGS: '--target universal-apple-darwin'
          OS_NAME: 'macos'
          ARTIFACT_PATH: 'src-tauri/target/universal-apple-darwin/release/bundle'
        linux:
          vmImage: 'ubuntu-22.04'
          TAURI_ARGS: ''
          OS_NAME: 'linux'
          ARTIFACT_PATH: 'src-tauri/target/release/bundle'
        windows:
          vmImage: 'windows-latest'
          TAURI_ARGS: '--bundles nsis'
          OS_NAME: 'windows'
          ARTIFACT_PATH: 'src-tauri/target/release/bundle'

    pool:
      vmImage: $(vmImage)

    variables:
      PNPM_CACHE_FOLDER: $(Pipeline.Workspace)/pnpm_cache

    steps:
      - checkout: self
        fetchDepth: 0

      - pwsh: |
          New-Item -ItemType Directory -Force -Path "$(PNPM_CACHE_FOLDER)"
          $homePath = if ($env:HOME) { $env:HOME } else { $env:USERPROFILE }
          $cargoReg = Join-Path $homePath ".cargo"
          if (!(Test-Path $cargoReg)) { New-Item -ItemType Directory -Force -Path $cargoReg }
          Write-Host "##vso[task.setvariable variable=CARGO_HOME]$cargoReg"
        displayName: 'Pre-create Directories'

      - task: Cache@2
        inputs:
          key: 'pnpm | "$(Agent.OS)" | **/pnpm-lock.yaml'
          path: $(PNPM_CACHE_FOLDER)
        displayName: 'Cache pnpm'

      - task: Cache@2
        inputs:
          key: 'cargo-reg | "$(Agent.OS)" | src-tauri/Cargo.lock'
          path: $(CARGO_HOME)
        displayName: 'Cache Cargo'

      - task: UseNode@1
        inputs: { version: '24.x' }

      - script: |
          corepack enable
          pnpm config set store-dir $(PNPM_CACHE_FOLDER)
          pnpm install --frozen-lockfile
          pnpm add -D @tauri-apps/cli
        displayName: 'Install Dependencies'

      - script: |
          rustup toolchain install stable --profile minimal
          rustup default stable
        displayName: 'Setup Rust'

      - script: rustup target add aarch64-apple-darwin x86_64-apple-darwin
        displayName: 'Add macOS targets'
        condition: eq(variables['Agent.OS'], 'Darwin')

      - script: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends libwebkit2gtk-4.1-dev libappindicator3-dev librsvg2-dev patchelf
        displayName: 'Install Linux Deps'
        condition: eq(variables['Agent.OS'], 'Linux')

      # 执行正式构建
      - script: pnpm exec tauri build $(TAURI_ARGS)
        displayName: 'Build Release'

      - task: PublishBuildArtifacts@1
        inputs:
          pathToPublish: $(ARTIFACT_PATH)
          artifactName: 'Tauri-App-$(OS_NAME)'